<footer class="page-footer dark">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h5>Get started</h5>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/search">Search</a></li>
                    <!-- <li><a href="#">Downloads</a></li> -->
                </ul>
            </div>
            <div class="col-sm-3">
                <h5>Learning Material</h5>
                <ul>
                    <li><a href="/course">Browse courses</a></li>
                    <li><a href="/video">Browse videos</a></li>
                    <li><a href="/download">Download</a></li>
                    <li><a href="/submit">Submit</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5>Support</h5>
                <ul>
                    <li><a href="/faq">FAQ</a></li>
                    <li><a href="/contact">Contact us</a></li>
                    <!-- <li><a href="#">Forums</a></li> -->
                </ul>
            </div>
            <div class="col-sm-3">
                <h5>Legal</h5>
                <ul>
                    <li><a href="#">Terms of Service</a></li>
                    <li><a href="#">Terms of Use</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <p>© <%= (new Date()).getFullYear() %> Copyright RDFmapped.com</p>
    </div>
</footer>