<footer class="page-footer dark">
    <div class="container">
        <div class="row" id="footerNarrow" hidden>
            <div class="col">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/search">Search</a></li>
                    <li><a href="/support">Support</a></li>
                    <li><a href="/submit">Submit content</a></li>
                    <li><a href="/download">Download archive</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/accessibility">Accessibility statement</a></li>
                    <li><a href="/privacy">Privacy Policy</a></li>
                </ul>
                <a href="https://www.kcl.ac.uk" target="_blank" rel="noopener noreferrer">
                    <img src="/img/kcl/KCL_box_red_485_rgb_comp.webp" alt="KCL Logo" style="width: 180px;" loading="lazy">
                </a>
            </div>
        </div>
        <div class="row" id="footerWide">
            <div class="col">
                <!-- <h5 style="padding-bottom: 5px;">Supported by</h5> -->
                <a href="https://www.kcl.ac.uk" target="_blank" rel="noopener noreferrer">
                    <img src="/img/kcl/KCL_box_red_485_rgb_comp.webp" alt="KCL Logo" style="width: 180px;" loading="lazy">
                </a>
            </div>
            <div class="col">
                <!-- <h5>Learning material</h5> -->
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/search">Search</a></li>
                    <li><a href="/support">Support</a></li>
                    <li><a href="/submit">Submit content</a></li>
                    <li><a href="/download">Download archive</a></li>
                </ul>
            </div>
            <div class="col">
                <!-- <h5>Legal</h5> -->
                <ul>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/accessibility">Accessibility statement</a></li>
                    <li><a href="/privacy">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright" style="background-color: #2b2f31 !important; border-color: #2b2f31 !important;">
        <p class="license-text">
            Web resources licensed
            <a href="https://creativecommons.org/licenses/by-nc/4.0" target="_blank" rel="license noopener">
                CC BY-NC 4.0
                <!-- <img alt="Creative Commons icon" style="height:22px!important;margin-left: 3px;vertical-align:text-bottom;" src="/cc/cc.svg"> -->
            </a>,
            source code <a href="https://github.com/almasen/rdf-mapped/blob/master/LICENSE" target="_blank" rel="license noopener">
                MIT
            </a>
            <a href="https://github.com/almasen/rdf-mapped" target="_blank" rel="noopener noreferrer">
                <img alt="GitHub icon" style="width: 16px; height: 16px; padding-left: 1px; padding-bottom: 1px;" src="/github/GitHub-Mark-Light-64px.webp">
            </a>
        </p>
    </div>
</footer>
<script>
    const screenWidthChange = () => {
        const wideScreen = window.matchMedia("(min-width: 800px)");
        if (wideScreen.matches) {
            document.getElementById("footerWide").hidden = false;
            document.getElementById("footerNarrow").hidden = true;
        } else {
            document.getElementById("footerWide").hidden = true;
            document.getElementById("footerNarrow").hidden = false;
        }
    };
    $(window).resize(() => { screenWidthChange() });
    $(document).ready(() => { screenWidthChange() });
</script>