<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
    <div class="container"><a class="navbar-brand logo" href="#">RDF Mapped</a><button data-toggle="collapse"
            class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item" role="presentation"><a class="nav-link<% if (baseurl === '/') { %> active <% } %>" href="/">Home</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link<% if (baseurl === '/features') { %> active <% } %>" href="/features">Features</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link<% if (baseurl === '/faq') { %> active <% } %>" href="/faq">FAQ</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link<% if (baseurl === '/contact') { %> active <% } %>" href="/contact">Contact Us</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link<% if (baseurl === '/login') { %> active <% } %>" href="/login">Login</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link<% if (baseurl === '/registration') { %> active <% } %>" href="/registration">Register</a></li>
            </ul>
        </div>
    </div>
</nav>


