<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
    <div class="container"><a class="navbar-brand logo" href="<% if (baseurl === '/') { %>#<% } else { %>/<% } %>">RDF Mapped</a><button data-toggle="collapse"
            class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item" role="presentation">
                    <a class="nav-link<% if (baseurl === '/') { %> active <% } %>" href="<% if (baseurl === '/') { %>#<% } else { %>/<% } %>">Home</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link<% if (baseurl === '/features') { %> active <% } %>" href="<% if (baseurl === '/features') { %>#<% } else { %>/features<% } %>">Search Options</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link<% if (baseurl === '/faq') { %> active <% } %>" href="<% if (baseurl === '/faq') { %>#<% } else { %>/faq<% } %>">FAQ</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link<% if (baseurl === '/contact') { %> active <% } %>" href="<% if (baseurl === '/contact') { %>#<% } else { %>/contact<% } %>">Contact Us</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link<% if (baseurl === '/login') { %> active <% } %>" href="<% if (baseurl === '/login') { %>#<% } else { %>/login<% } %>">Login</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link<% if (baseurl === '/registration') { %> active <% } %>" href="<% if (baseurl === '/registration') { %>#<% } else { %>/registration<% } %>">Register</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


