<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
    <div class="container"><a class="navbar-brand logo"
            href="<% if (baseurl === '/') { %>#<% } else { %>/<% } %>"><img src="/logo/rdflogo.svg" width="35" height="33" alt="RDFmapped logo"> RDFmapped</a><button data-toggle="collapse"
            class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item" role="presentation">
                    <a class="nav-link<% if (baseurl === '/') { %> active <% } %>"
                        href="<% if (baseurl === '/') { %>#<% } else { %>/<% } %>">Home</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link<% if (baseurl === '/search') { %> active <% } %>"
                        href="<% if (baseurl === '/search') { %>#<% } else { %>/search<% } %>">Search</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link<% if (baseurl === '/support') { %> active <% } %>"
                        href="<% if (baseurl === '/support') { %>#<% } else { %>/support<% } %>">Support</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link<% if (baseurl === '/about') { %> active <% } %>"
                        href="<% if (baseurl === '/about') { %>#<% } else { %>/about<% } %>">About</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link<% if (baseurl === '/contact') { %> active <% } %>"
                        href="<% if (baseurl === '/contact') { %>#<% } else { %>/contact<% } %>">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>