<div class="block-heading">
    <h2 class="text-info">Full List of Courses & Videos</h2>
</div>
<div class="row">
    <div style="padding-bottom: 1rem;">
        <p style="text-align: justify;">Use the following buttons to view all the available courses and videos. You
            should expect to see a large table. Filtering or sorting for the table is not yet implemented.</p>
    </div>
</div>
<div class="row">
    <div class="col feature-box">
        <a class="btn btn-primary" href="/course" role="button">Show me all available courses</a>
    </div>
    <div class="col feature-box">
        <a class="btn btn-primary" href="/video" role="button">I want to see all the videos</a>
    </div>
</div>