<div class="block-heading">
    <p>&nbsp;</p>
    <h2 class="text-info">Keyword Search</h2>
</div>
<div class="block-heading" style="padding-top: 0 !important;">
        <p>Enter a keyword to search for a course <br>or individual video.<br><i class="material-icons">help_outline</i>What’s the difference? See the <a href="/faq">Support</a> page.</p>
</div>
<div class="row">
    <div class="col" style="max-width: 15%;"></div>
    <div class="col" style="min-width: 438px;">
        <div class="row" style="padding-bottom: 16px;">
            <!-- <div class="input-group">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="predictiveSelectCourse">Courses</label>
                                </div> -->
            <select class="custom-select" name="selectCourse" id="predictiveSelectCourse"
                onchange="location = this.value;">
                <option value="-1" selected disabled>Courses</option>
                <% if (courses.length > 0) { %>
                <% courses.forEach(e => { %>
                <option value="/course/<%= e.id %>"><%= e.title %></option>
                <% }); %>
                <% } %>
            </select>
            <!-- </div> -->
        </div>
        <div class="row" style="padding-bottom: 16px;">
            <!-- <div class="input-group">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="predictiveSelectVideo">Videos</label>
                                </div> -->
            <select class="custom-select" name="selectVideo" id="predictiveSelectVideo"
                onchange="location = this.value;">
                <option value="-1" selected disabled>Videos</option>
                <% if (videos.length > 0) { %>
                <% videos.forEach(e => { %>
                <option value="/video/<%= e.id %>"><%= e.title %></option>
                <% }); %>
                <% } %>
            </select>
            <!-- </div> -->
        </div>
    </div>
    <div class="col" style="max-width: 15%;"></div>
</div>
<script>
    $(document).ready(() => {
        $('#predictiveSelectCourse').select2();
        $('#predictiveSelectVideo').select2();
    });
    $.fn.select2.defaults.set("theme", "bootstrap");
</script>