<div class="container">
    <div class="block-heading">
        <h2 class="text-info">Search Options</h2>
        <p>You can search for the mapped LinkedIn Learning courses with several search & filtering options depending on
            your preference.</p>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-5 feature-box"><i class="material-icons icon">linear_scale</i>
            <h4>Step-by-step search</h4>
            <p style="text-align: justify; margin-bottom: 0.5rem;">Start narrowing down the topics and we will offer you
                matching Categories then Capabilities eventually finding you the courses/videos suitable for your
                development. We recommend this search option if this is your first time using our site.</p>
            <a class="btn btn-outline-primary" style="padding-top: 2pt; padding-bottom: 2pt;" href="/#stepByStepSearchSection"
                role="button">Show me the steps</a>
        </div>
        <div class="col-md-5 feature-box"><i class="la la-search-minus icon"></i>
            <h4>Detailed search</h4>
            <p style="text-align: justify; margin-bottom: 0.5rem;">Use any number of filters and optionally provide a
                keyword for searching. This is an advanced search function and there might not be matching content to
                your input. Use this if you roughly know what you are looking for and are familiar with the options.</p>
            <a class="btn btn-outline-primary" style="padding-top: 2pt; padding-bottom: 2pt;" href="/#detailedSearchSection" role="button">I
                want to do a detailed search</a>
        </div>
        <div class="col-md-5 feature-box"><i class="far fa-keyboard icon"></i>
            <h4>Predictive keyword search</h4>
            <p style="text-align: justify; margin-bottom: 0.5rem;">Start inputting the title of a course or video you
                are looking for and we will predict what the relevant learning material. You should use this option when
                looking for a single result.</p>
            <a class="btn btn-outline-primary" style="padding-top: 2pt; padding-bottom: 2pt;" href="/#keywordSearchSection" role="button">I
                am looking for a specific course</a>
        </div>
        <div class="col-md-5 feature-box"><i class="material-icons icon">linear_scale</i>
            <h4>Full list search</h4>
            <p style="text-align: justify; margin-bottom: 0.5rem;">We will show you all the available courses & videos
                in a table and you can filter the result in place. This is a good idea if you want to get an overview of
                what's offered.</p>
            <a class="btn btn-outline-primary" style="padding-top: 2pt; padding-bottom: 2pt;" href="/#listSearchSection"
                role="button">Show me all the courses & videos</a>
        </div>
    </div>
</div>