<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>About - RDFmapped</title>
    <meta property="og:type" content="">
    <meta name="description" content="Vitae Researcher Development Framework Mapped to Linkedin Learning">

    <%- include('./components/stylesheets'); -%>
    <%- include('./components/scripts'); -%>
</head>

<body>
    <%- include('./components/header'); -%>

    <main class="page faq-page">
        <section class="clean-block clean-faq dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">About</h2>
                    <!-- <p>Frequently Asked Questions</p> -->
                </div>
                <div class="block-content">
                    <!-- <% if (aboutInfo.status === 200) { %> -->
                        <div class="faq-item">
                            <!-- <h4 class="question">Researcher Development Framework Mapped</h4> -->
                            <div class="answer">
                                <p style="text-align: justify;">
                                    RDFmapped.com has been developed by the King’s College London Centre for Doctoral Studies.<br><br>
                                    The site is based on a dataset which mapped Vitae’s Researcher Development Framework against LinkedIn Learning
                                    resources. This mapping was completed by LinkedIn Learning in collaboration with Vitae* (credit pending). This original mapping was in spreadsheet form. The aim of this site is to make that dataset accessible, searchable, and convenient for researchers.<br><br>
                                    We took the decision to make RDFmapped.com an open resource to support all researchers in their professional
                                    development.<br><br>
                                    The site is actively maintained and continues to be expanded from its original set of LinkedIn Learning resources. If you or your department would like to suggest further LinkedIn Learning resources to add, please <a href="/contact">contact us</a> to discuss.</p>
                            </div>
                        </div>
                    <!-- <% } %> -->
                </div>
            </div>
        </section>
    </main>

    <%- include('./components/footer'); -%>
</body>

</html>