<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
    <div class="container"><a class="navbar-brand logo" href="#">RDF Mapped</a><button data-toggle="collapse"
            class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item" role="presentation"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="features.ejs">Features</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link active" href="faq.ejs">FAQ</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="contact-us.ejs">Contact Us</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="login.ejs">Login</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="registration.ejs">Register</a></li>
            </ul>
        </div>
    </div>
</nav>