<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RDF Mapped</title>
</head>
<body>
    <h1>Hi
        <% if (name) { %>
        <%= name _%>
        <% } else { %>
        <%= "abcd" _%>
        <% } %>
    </h1>
    <form action="/logout?_method=DELETE" method="POST">
        <button type="submit">Log Out</button>
    </form>
</body>
</html>